@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Primary */
    --orange: hsl(25, 97%, 53%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    /* Secondary */
    --secondary: hsl(213, 20%, 22%);
}

* {
    padding: 0%;
    margin: 0%;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-blue);
}

.hidden {
    display: none;
}

.card_container {
    background-color: var(--dark-blue);
    border-radius: 1rem;
    width: 350px;
}

.card {
    padding: 2rem;

}

.star_icon {
    background-color: var(--light-grey);
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.tittle {
    color: var(--white);
}
